<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CobrowseIO.Windows" version="0.0.4-prerelease" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="OpenH264.NET" version="1.0.1" targetFramework="net462" />
  <package id="PeterO.Cbor" version="4.1.3" targetFramework="net462" />
  <package id="PeterO.Numbers" version="1.6.0" targetFramework="net462" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net462" />
  <package id="RestSharp" version="106.11.4" targetFramework="net462" />
  <package id="SharpDX" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net462" />
</packages>